body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 45px;
    color: #575757;
    font-weight: 700;
    line-height: 30px;
}

h3 {
    font-size: 30px;
    color: #707070;
}

.orange {
    color: #FB954B;
}

.flexible {
    display: flex;
    margin-bottom: 150px;
}

.h1-tag {
    margin-bottom: 50px;
}

.half-width {
    width: 40%;
    padding-left: 5%;
    padding-right: 10%;
}

.half-width p {
    color: #828282;
}

.half-width img {
    width: 110%;
}

.header-content {
    margin-top: 10%;
}

.click-button {
    text-decoration: none;
    background-image: linear-gradient(#FB8E48, #FD5432);
    padding: 15px 30px;
    color: #fff;
    border-radius: 30px;
}

.btn {
    margin-top: 50px;
}

.about-me-section {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
}

.contact-me-button {
    margin-top: 90px;
}

.about-p {
    text-align: justify;
}

.recipies-header {
    text-align: center;
    margin-bottom: 50px;
}

.recipies-image img {
    width: 90%;
    padding-top: 25px;
    padding-left: 16px;
}

.recipies-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    padding-bottom: 15px;
}

.target {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.followers {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}

.hajar {
    margin-left: 15%;
    padding: 20px 0;
}